/* Bootstrap */
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/* Flatpickr */
@import 'flatpickr/dist/themes/airbnb.css';

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom table layout */
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   /* color:#A7A1AE; */
   background-color:#1F2739;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   /* background-image: url('../images/background.jpg'); */
 }

 h1 {
   font-size:3em;
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
 }

 h2 {
   font-size:1em;
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #FB667A;
 }

 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }

 .blue { color: #185875; }
 .yellow { color: #FFF842; }

 .dashboard th h1 {
	font-weight: bold;
	font-size: 1em;
   	text-align: left;
   	color: #185875;
 }

 .dashboard td {
	font-weight: normal;
	font-size: 1em;
	color: whitesmoke;
	-webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
 }

 .dashboard {
	text-align: left;
	overflow: hidden;
	width: 90%;
	margin: 2% auto;
	display: table;
	padding: 0 0 8em 0;
 }

 .dashboard td, .dashboard th {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left:2%;
 }

 /* Background-color of the odd rows */
 .dashboard tr:nth-child(odd) {
	   background-color: #323C50;
 }

 /* Background-color of the even rows */
 .dashboard tr:nth-child(even) {
	   background-color: #2C3446;
 }

 .dashboard th {
	   background-color: #1F2739;
 }

 .dashboard td:first-child { color: #FB667A; }

 .dashboard tr:hover {
	background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
		-moz-box-shadow: 0 6px 6px -6px #0E1119;
			 box-shadow: 0 6px 6px -6px #0E1119;
 }

 .dashboard td:hover {
   background-color: #FFF842;
   color: #403E10;
   font-weight: bold;

   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);

   transition-delay: 0s;
	   transition-duration: 0.4s;
	   transition-property: all;
   transition-timing-function: line;
 }

 @media (max-width: 800px) {
 .dashboard td:nth-child(4),
 .dashboard th:nth-child(4) { display: none; }
 }


 /* Meeting table layout */
 .meeting-container form{
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#323C50;
 }

 .meeting-container form label{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.42em;
   	color:#bdb7c5;
 }

 /* Users meeting table layout*/
 .user-meetings-table h2 {
		font-size: 26px;
		margin: 15px 0;
		text-align: center;
   }
.user-meetings-table h2 small {
	font-size: 0.5em;
}
.user-meetings-table .responsive-table li {
	border-radius: 3px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.user-meetings-table .responsive-table .table-header {
	background-color: #95a5a6;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: #565d6b;
   }

.user-meetings-table .responsive-table .table-row {
	/* background-color: #fff; */
	color: rgb(66, 57, 45);
	font-size: 16px;
	font-weight: 500;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
	padding-top: 2em;
}

/* list items */
.list-item {
    position: relative; /* Ensure the parent position is set to relative */
    padding: 10px; /* Add padding for better spacing */
}

/* Add a before pseudo-element to the list item aka the banner */
.list-item.incoming::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Position relative to the parent */
    top: 0; /* Position at the top edge */
    right: 0; /* Position at the left edge */
    width: 90px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-color: rgb(223, 47, 16); /* Example: Background color for the banner */
    border-top-left-radius: 5px; /* Optional: Add border radius for style */
    border-bottom-left-radius: 5px; /* Optional: Add border radius for style */
    content: 'Incoming...'; /* Optional: Add text content */
    display: flex; /* Optional: To center text content */
    justify-content: center; /* Optional: To center text content */
    align-items: center; /* Optional: To center text content */
    font-weight: bold; /* Optional: Text style */
    color: black; /* Optional: Text color */
	opacity: 0.8;
}

.list-item.archived::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Position relative to the parent */
    top: 0; /* Position at the top edge */
    right: 0; /* Position at the left edge */
    width: 90px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-color: rgb(216, 187, 182); /* Example: Background color for the banner */
    border-top-left-radius: 5px; /* Optional: Add border radius for style */
    border-bottom-left-radius: 5px; /* Optional: Add border radius for style */
    content: 'Archived...'; /* Optional: Add text content */
    display: flex; /* Optional: To center text content */
    justify-content: center; /* Optional: To center text content */
    align-items: center; /* Optional: To center text content */
    font-weight: bold; /* Optional: Text style */
    color: black; /* Optional: Text color */
	opacity: 0.5;
}

.user-meetings-table .responsive-table .col-1 {
	flex-basis: 10%;
}
.user-meetings-table .responsive-table .col-2 {
	flex-basis: 22%;
}
.user-meetings-table .responsive-table .col-3 {
	flex-basis: 22%;
}
.user-meetings-table .responsive-table .col-4 {
	flex-basis: 22%;
}
.user-meetings-table .responsive-table .col-5 {
	flex-basis: 22%;
}
@media all and (max-width: 767px) {
	.user-meetings-table .responsive-table .table-header {
		display: none;
	}
	.user-meetings-table .responsive-table li {
		display: block;
	}
	.user-meetings-table .responsive-table .col {
		flex-basis: 100%;
	}
	.user-meetings-table .responsive-table .col {
		display: flex;
		padding: 5px 0;
	}
	.user-meetings-table .responsive-table .col:before {
		color: #6c7a89;
		padding-right: 10px;
		content: attr(data-label);
		flex-basis: 50%;
		text-align: right;
	}
}

/* Tooltip text */
.tooltip {
	position: relative;
	/* display: inline-block; */
	/* border-bottom: 1px dotted black; */
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* position: absolute; */
	z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  /* Invalid form input */
  .is-invalid {
	border: 3px solid rgb(228, 13, 13);
  }

  /* Footer */
  .footer {
	width: 90%;
    margin: 2% auto;
	color:rgb(216, 187, 182);
  }

  .footer span{
	color:rgb(104, 130, 243);
  }

  /* Dashboard News  */
  /* .news-container {
	display: flex;
	align-items: center;

  } */

/* .news-image-container {
	margin-right: 20px;
}

.news-image-container img {
	width:600px;
	height:300px;
	border-radius: 10%;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
} */

